<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/e40819418a.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>


        <img src="img/logo-mercado-liebre.svg" alt="Logo" class="logo">


        <div class="buscador">
            <button class="buscador_barra"><p>Buscar productos, marcas</p></button>
            <div class="buscador_logo"><i class="fas fa-search"></i></div>
        </div>


        <div class="Cuotas">
            <div><i class="fas fa-hand-holding-usd"></i></div>
            <p>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>


        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li>
                    <div class="lista">
                        <a href="">Creá tu cuenta</a>
                        <div><i class="fas fa-id-card"></i></div>
                    </div>
                </li>
                <li>
                    <div class="lista">
                        <a href="">Ingresá</a>
                        <div><i class="fas fa-sign-in-alt"></i></div>
                    </div>
                </li>
                <li>
                    <div class="lista">
                        <a href="">Mis compras</a>
                        <div><i class="fas fa-shopping-basket"></i></div>
                    </div>
                </li>
            </ul>
        </nav>


        <div class="Burger-Menu">
            <i class="fas fa-bars"></i>
        </div>


    </header>

    <main>
        <img src="/img/img-home-banner.jpg" alt="banner_mercador_liebre" class="banner">

        <h1 class="productos_titulo">Basado en su última visita</h1>

        <section class="contenedor_productos">

            <article class="productos_articulos">
                <img src="img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" class="articulos_imagenes">
                <div class="articulo_camion">
                    <i class="fas fa-truck"></i>
                </div>
                <div class="articulos_informacion">
                    <div class="informacion_valor">
                        <p class="valor_precio">$6.770</p>
                        <p class="valor_descuento">40% OFF</p>
                    </div>
                    <h3 class="informacion_titulo">Cafetera Moulinex</h3>
                </div>
            </article>
            
            <article class="productos_articulos">
                <img src="img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" class="articulos_imagenes">
                <div class="articulo_camion">
                    <i class="fas fa-truck"></i>
                </div>
                <div class="articulos_informacion">
                    <div class="productos_valor">
                        <div class="informacion_valor">
                            <p class="valor_precio">$230.000</p>
                            <p class="valor_descuento">20% OFF</p>
                        </div>
                    </div>
                    <h3 class="informacion_titulo">MacBook Pro 2019</h3>
                </div>
            </article>

            <article class="productos_articulos">
                <img src="img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" class="articulos_imagenes">
                <div class="articulo_camion">
                    <i class="fas fa-truck"></i>
                </div>
                <div class="articulos_informacion">
                    <div class="informacion_valor">
                        <div class="productos_valor">
                            <p class="valor_precio">$70.500</p>
                            <p class="valor_descuento">10% OFF</p>
                        </div>
                    </div>
                    <h3 class="informacion_titulo">Samsung Galaxy S10</h3>
                </div>
            </article>

            <article class="productos_articulos">
                <img src="img/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" class="articulos_imagenes">
                <div class="articulo_camion">
                    <i class="fas fa-truck"></i>
                </div>
                <div class="articulos_informacion">
                    <div class="informacion_valor">
                        <p class="valor_precio">$23.200</p>
                        <p class="valor_descuento">5% OFF</p>
                    </div>
                    <h3 class="informacion_titulo">SmartTv Samsung 43"</h3>
                </div>
            </article>

        </section>

        <h2 class="productos_titulo">Ofertas</h2>

        <section class="contenedor_productos">

            <article class="productos_articulos">
                <img src="img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" class="articulos_imagenes">
                <div class="articulo_camion">
                    <i class="fas fa-truck"></i>
                </div>
                <div class="articulos_informacion">
                    <div class="informacion_valor">
                        <p class="valor_precio">$6.770</p>
                        <p class="valor_descuento">40% OFF</p>
                    </div>
                    <h3 class="informacion_titulo">Cafetera Moulinex</h3>
                </div>
            </article>
            
            <article class="productos_articulos">
                <img src="img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" class="articulos_imagenes">
                <div class="articulo_camion">
                    <i class="fas fa-truck"></i>
                </div>
                <div class="articulos_informacion">
                    <div class="informacion_valor">
                        <p class="valor_precio">$230.000</p>
                        <p class="valor_descuento">20% OFF</p>
                    </div>
                    <h3 class="informacion_titulo">MacBook Pro 2019</h3>
                </div>
            </article>

            <article class="productos_articulos">
                <img src="img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" class="articulos_imagenes">
                <div class="articulo_camion">
                    <i class="fas fa-truck"></i>
                </div>
                <div class="articulos_informacion">
                    <div class="informacion_valor">
                        <p class="valor_precio">$70.500</p>
                        <p class="valor_descuento">10% OFF</p>
                    </div>
                    <h3 class="informacion_titulo">Samsung Galaxy S10</h3>
                </div>
            </article>

            <article class="productos_articulos">
                <img src="img/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" class="articulos_imagenes">
                <div class="articulo_camion">
                    <i class="fas fa-truck"></i>
                </div>
                <div class="articulos_informacion">
                    <div class="informacion_valor">
                        <p class="valor_precio">$23.200</p>
                        <p class="valor_descuento">5% OFF</p>
                    </div>
                    <h3 class="informacion_titulo">SmartTv Samsung 43"</h3>
                </div>
            </article>

        </section>
    </main>

    <footer>
        <section class="contenedor_footer">
            <section class="footer_seccion">
                <div class="seccion_icono">
                    <i class="fas fa-credit-card"></i>
                </div>
                <h4 class="seccion_titulo">Pagá con tarjeta o en efectivo</h4>
                <p class="seccion_parrafo">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section class="footer_seccion">
                <div class="seccion_icono">
                    <i class="fas fa-gift"></i>
                </div>
                <h4 class="seccion_titulo">Envío gratis desde $ 2.500</h4>
                <p class="seccion_parrafo">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section class="footer_seccion">
                <div class="seccion_icono">
                    <i class="fas fa-user-shield"></i>
                </div>
                <h4 class="seccion_titulo">Seguridad, de principio a fin</h4>
                <p class="seccion_parrafo">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </section>
        </section>
        <section class="footer_copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>

</body>
</html>