:root {
    --color1: #EAC926;
    --color2: #03264C;
    --color3: #1259c3;
    --color4: #666;
    --color5: #ebebeb;
    --color6: #39b54a;
    --color7: #000000;
    --color8: #fff;
    --color_envio: #0022AA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background: #ebebeb;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

/* HEADER */
header {
    background-color: var(--color1);
}

/* contenedor logo / barra / cuotas */
.contenedor_header{
    background-color: var(--color1);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 10px 15px 0 10px;
    justify-content: center;
    align-items: center;
}


/* logo mercado liebre*/
.header_logo {
    width: 150px;
    margin: auto;
    justify-content: start;
}


/* barra buscador */
.header_buscador{
    background-color: var(--color8);
    display: flex;
    width: 200px;
    height: 39px;
    border-radius: 5px;
    margin: auto;
}

.buscador_barra {
    background-color: var(--color8);
    color: #666;
    width: 180px;
    border: 1px solid #666;
    display: inline;
    height: 39px;
    border: 0;
    border-radius: 5px;
}

.buscador_logo {
    background-color: var(--color8);
    width: 20px;
    height: 39px;
    font-size: 16px;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    border: 0;
    display: inline;
}

.buscador_logo i {
    color: #666;
    font-size: 15px;
    margin-top: 12px;
}

/* cuotas */
.header_cuotas{
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 15px;
}

.header_cuotas:nth-child(3){
    grid-column-start: span 2;
}

.cuotas_texto{
    padding-left: 5px;
    font-size: 0.9rem;
}

/* navegador */
.contenedor_menu{
    background-color: var(--color1);
}

.contenedor_nav{
    background-color: var(--color1);
    display: none;
}

.lista{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.lista li{
    display: flex;
    margin: auto;
    padding-bottom: 5px;
}

.lista a{
    margin-right: 5px;
}

a {
    text-decoration: none;
    color: #000000;
    font-size: .8rem;
}

.contenedor_burguer{
    padding: 15px 0;
}

.menu_burger{
    width: 2rem;
    height: 2rem;
    border-radius: 10%;
    background-color: var(--color3);
    color: #fff;
    margin: auto;
    text-align: center;
    align-items: center;
}

.menu_burger i {
    font-size: 16px;
    padding-top: 8px;
}

/* MAIN */
main{
    padding-bottom: 40px;
}

.banner{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenedor_productos{
    width: 100%;
    background-color: #ebebeb;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 10px;
}

.productos_titulo{
    width: 80%;
    font-size: 1.5rem;
    color: #666;
    margin: auto;
    text-align: left;
    padding: 20px 0;
}

.productos_articulos {
    background-color: var(--color5);
    width: 80%;
    max-width: 360px;
    border: 1px solid #ebebeb;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 25px -10px #000000;
    margin: auto;
    margin-top: 10px;
}

.articulos_imagenes{
    width: 100%;
    height: 100%;
}

.articulo_camion{
    background-color: var(--color8);
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid var(--color6);
    margin-top: -15px;
    margin-left: 260px;
    position: absolute;
}

.articulo_camion:hover{
    animation-name: giro;
    animation-duration: 1s;
    animation-iteration-count: infinit;
}

@keyframes giro {
    100%{
        transform: rotate(-90deg);
    }
}

.articulo_camion i{
    color: var(--color6);
    font-size: 16px;
    padding-top: 5px;
}

.articulos_informacion{
    background-color: #fff;
    height: 100%;
    padding: 10px;
}

.informacion_valor{
    display: flex;
    padding: 10px;
}

.valor_precio{
    font-size: 18px;
    display: inline;
}

.valor_descuento{
    padding-left: 5px;
    display: inline;
    color: #39b54a;
    font-size: 16px;
}

.informacion_titulo{
    font-size: 1rem;
    color: #666;
    padding: 10px;
}

/* FOOTER */
.contenedor_footer{
    text-align: center;
    justify-content: center;
    background-color: var(--color8);
    width: 100%;
    padding: 30px;
}

.footer_seccion{
    margin: auto;
    width: 65%;
    padding: 10px;
}

.seccion_icono{
    color: var(--color3);
    font-size: 2rem;
}

.seccion_icono:hover{
    color: var(--color6);
}

.seccion_titulo{
    font-size: 14px;
}

.seccion_parrafo{
    font-size: 12px;
}

.footer_copyright{
    background-color: var(--color8);
    text-align: center;
    padding: 0 30px 40px 30px;
}


/* ----------------- REGISTRO ----------------- */
/* Fondo del formulario */
.register_body{
    background-color: var(--color1);
    margin: auto;
}

.register_main{
    text-align: center;
    justify-content: center;
    margin: auto;
    background-color: var(--color1);
    padding: 10px 0;
}

/*Cuerpo del formulario*/
.formulario{
    width: 460px;
    height: 100%;
    background-color: var(--color5);
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}

/* Registrate */
.formulario_titulo{
    color: var(--color7);
    font-size: 40px;
    padding: 10px 0;
}

/* Nombre | Apellido | Email | Contraseña */
.formulario_input{
    width: 100%;
    padding: 10px 0;
}
.input{
    width: 70%;
    height: 40px;
    border-radius: 5px;
    text-align: left;
    border: 0;
    padding-left: 8px;
}

/* Enviar | Cancelar */
.formulario_boton{
    padding: 10px 0;
    background-color: var(--color5);
}
.boton{
    width: 70%;
    height: 40px;
    border-radius: 5px;
    background-color: var(--color3);
    color: var(--color8);
    border: 0;
}
.boton_cancelar{
    width: 70%;
    height: 40px;
    border-radius: 5px;
    background-color: var(--color4);
    color: var(--color8);
    border: 0;
}

/* ¿Ya eres miembro? | Inicia tu sesion */
.formulario_foot{
    color: var(--color7);
    padding: 20px 0 20px 0;
    text-align: center;
    align-items: center;
}
.formulario_foot a{
    text-decoration: none;
    color: var(--color7);
    padding: 10px 0 10px 0;
}

/* Perfil de usuario*/
.seccion_perfil{
    width: 70%;
    margin: auto;
}
.perfil_opciones{
    padding: 10px 0;
    margin: auto;
    width: 80%;
    text-align: left;
}

/* Fecha */
.seccion_fecha{
    width: 70%;
    margin: auto;
    padding: 15px 0;
    display: grid;
}
.input_fecha{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    text-align: left;
    border: 0;
    padding-left: 8px;
}

/* Intereses */
.seccion_intereses{
    width: 70%;
    margin: auto;
}
.intereses_opciones{
    width: 80%;
    margin: auto;
    text-align: left;
    padding: 10px 0;
}

/* Subitulos label*/
.formulario_subtitulos{
    font-size: 16px;
    text-align: left;
    padding: 10px 0;
}

/* ----------------- LOGIN ----------------- */
.body_formulario{
    background-color: var(--color1);
}

.login_main{
    width: 100%;
    text-align: center;
    justify-content: center;
    margin: auto;
    background-color: var(--color1);
}

/*Cuerpo del formulario login*/
.login_formulario{
    width: 100%;
    height: 100%;
    background-color: var(--color5);
}

/* Nombre de Usuario | Contraseña | Enviar */
.input_login{
    width: 75%;
    height: 40px;
    border-radius: 5px;
    text-align: left;
    padding-left: 8px;
    border: 0;
    max-width: 900px;
}

/* Enviar */
.boton_login{
    width: 75%;
    height: 40px;
    border-radius: 5px;
    background-color: var(--color3);
    color: var(--color8);
    border: 1px solid var(--color7);
    border: 0;
    max-width: 900px;
}


/* PEQUEÑO */
@media (min-width: 425px){

    /* MAIN */
    .productos_articulos {
        width: 320px;
    }

    /* FOOTER */
    .footer_seccion{
        margin: auto;
        width: 276px;
    }

}


/* MEDIO */
@media (min-width: 768px) {

    /* HEADER */
    .contenedor_header{
        grid-template-columns: repeat(3,1fr);
        padding: 15px;
    }

    .header_buscador{
        width: 80%;
    }

    .buscador_barra{
        width: 100%;
        text-align: start;
        padding-left: 10px;
    }

    .buscador_logo{
        width: 30px;
    }

    .header_cuotas{
        padding: 0;
    }

    .header_cuotas:nth-child(3){
        grid-column-start: span 1;
    }

    .cuotas_texto{
        font-size: 0.7rem;
    }

    .contenedor_nav{
        background-color: var(--color1);
        display: flex;
        width: 100%;
        height: 65px;
        align-items: center;
        justify-content: center;
        grid-gap: 100px;
        padding: 0 10px 0 0;
    }
    
    .lista{
        display: flex;
        grid-gap: 10px;
        margin: auto;
    }
    .lista li{
        display: flex;
        margin: auto;
        padding: 0;
    }
    
    .lista a{
        margin-right: 5px;
    }

    .contenedor_burguer{
        display: none;
    }

    .menu_burger{
        display: none;
    }

    /* MAIN */
    .banner{
        height: 163px;
    }

    .contenedor_productos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 60px;
        grid-gap: 30px;
    }

    .productos_titulo{
        font-size: 2rem;
    }

    .valor_precio{
        font-size: 22px;
    }
    
    .valor_descuento{
        font-size: 20px;
    }
    
    .informacion_titulo{
        font-size: 1.1rem;
    }

    /* FOOTER */
    .contenedor_footer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 30px 100px;
        grid-gap: 30px;
    }

    .footer_seccion:nth-child(3){
        grid-column-start: span 2;
    }

}


/* GRANDE */
@media (min-width: 1024px) {

    /* HEADER */
    .cuotas_texto{
        font-size: 0.9rem;
    }

    .contenedor_nav{
        grid-gap: 280px;
        padding: 0;
    }
    
    .lista li{
        padding-right: 15px;
    }
    
    .lista a{
        margin-right: 5px;
    }

    /* MAIN */
    .banner{
        height: 100%;
    }

    .contenedor_productos{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 0 80px;
        grid-gap: 20px;
    }

    .productos_articulos {
        width: 300px;
    }

    .articulo_camion{
        margin-left: 240px;
    }

    /*FOOTER*/
    .contenedor_footer{
        display: flex;
        padding: 30px;
    }

    .footer_seccion{
        width: 100%;
    }

    .footer_seccion:nth-child(3){
        grid-column-start: span 1;
    }
    
    .seccion_titulo{
        font-size: 15px;
    }
    
    .seccion_parrafo{
        text-align: center;
        font-size: 14px;
    }
    
    .footer_copyright{
        font-size: 14px;
        padding: 30px;
    }

}